body, p {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

body {
  background: rgb(245, 244, 241);
}

a {
  background: rgba(0, 0, 0, 0);
}

.button {
  display: block;
  padding: 4px 12px;

  text-decoration: none;

  color:black;
  background: white;

  border-radius: 8px;
}

/** || NAVBAR START **/

/* General */

.navbar {
  display: block;
  padding: 20px 0px;

  width: 100%;
  height: auto;

  background: rgba(245, 244, 241,.25);
}

#navbar-container {
  padding: 0% 10%;
}

@media screen and (max-width: 500px) {
  #navbar-container {
    padding: 0% 4%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 3;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

#logo {
  margin-top: 4px;
}

.button.navbar-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);

  margin-left: 24px;
}

.button.navbar-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.brand-team-avatars {
  display: inline-block;
}

/* Avatars */

.teammate-avatar {
  position: relative;
  display: inline-block;

  height: 28px;
  width: 28px;
}

.teammate-avatar img, .teammate-avatar #you {
  display: inherit;
  vertical-align: middle;

  width: inherit;
  height: inherit;
}

.teammate-avatar #you {
  text-align: center;

  border-radius: 50px;

  color: white;
  background: rgb(153, 92, 191);
}

#you div {
  /* This centers the number in the last minified avatar. It selects the text there. */
  margin: 5px;
}

.teammate-avatar:not(:last-child) {
  /* This makes avatars be on top of each other.

  Using a positive value for the margin and selecting the first-child element doesn't let them sit on top of each other.
  */
  margin-right: -8px;
}

#margin-for-sections{
  /* General margin for sections. */

  margin-left: clamp(10px, 10%, 500px);
  margin-right: clamp(10px, 10%, 500px);
}

/* Hidden boxes */

.hidden {
  display: none;
}

.teammate-avatar:hover > .hidden {
  display: block;
  position: fixed;
}

.teammate-details {
  position: absolute;

  margin-top: 5px;
  margin-left: -70px;

  width: 176px;
  height: 196px;
  border-radius: 15px;

  background: rgba(30,31,37,.9);
}

img.expanded-avatar, #you + .teammate-details .expanded-avatar {
  margin: 24px 0px 10px 47px;

  width: 80px;
  height: 80px;
}

#you + .teammate-details > div {
  display: inline-block;

  text-align: center;

  border-radius: 40px;

  color: rgb(255, 255, 255);
  background: rgb(153, 92, 191);
}

#hand-emoji {
  margin-top: 18px;

  font-size: 32px;
}

.name, .secondary-text {
  margin: 2.5px 5px;
  text-align: center;
}

.name {
  color: rgb(255, 255, 255);
}

.secondary-text {
  color: rgba(255, 255, 255, .5);
}


/** NAVBAR END **/


/** START HIRING SECTION **/

#hiring-and-early-access-section {
  display: flex;
  padding: 40px 0px;
  background: rgb(245, 244, 241);
}

.card-subsection {
  padding: 65px 65px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

#join-hiring {
  flex: 1 1 0;
  text-align: center;
  margin-right: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#join-hiring > p {
  min-width: 230px;
  margin-bottom: 30px;
}

#roles-button {
  color: white;
  margin: 0 auto;
  display: inline;
  text-align: center;
  padding-top: 8px;
  background: rgb(90,94,185);
}

#early-access-and-image {
  flex: 3 1 0;
  color: white;
  margin-left: 10px;
  background-image: linear-gradient(to right, rgb(113, 107, 202) , rgb(199, 138, 123));
}

#early-access-and-image > * {
  z-index: 3;
  position: relative;
}

#early-access {
  padding-left: 230px;
  padding-right: 100px;
}

#early-access > p {
  width: 460px;
  height: 60px;
}

#email-early-access {
  color: white;
  text-indent: 20px;
  border-radius: 13px;
  border-color: transparent;
  background-color: rgba(0,0,0,.25);
  backdrop-filter: blur(10px) saturate(100%); 
}

#button-early-access {
  color: white;
  padding: 14px 28px;
  border-radius: 13px;
  text-decoration: none;
  border-color: transparent;
  background: rgb(91,63,65);
}

#button-early-access:hover {
  background: rgb(0, 0, 0, .75);
}

#form-early-access {
  gap: 10px;
  z-index: 3;
  height: 50px;
  position: relative;
  display: inline-grid;
  grid-template-columns: 5fr 1fr;
}

#form-early-access > input {
  /* This is the input box for the email. */

  display: inline-block;
}

/* Setup position of images */

#picture-join {
  z-index: 2;
  position: absolute;
}

#flying-shoe {
  top: -330px;
  left: -140px;
  width: 80px;
  position: absolute;
}

#pencil-small {
  top: -360px;
  left: -40px;
  width: 70px;
  position: absolute;
}

#green-box {
  top: -340px;
  left: 70px;
  width: 60px;
  position: absolute;
}

#blue-ball {
  top: -290px;
  left: 150px;
  width: 90px;
  position: absolute;
}

#flying-febby {
  top: -280px;
  left: -180px;
  width: 430px;
  position: absolute;
}

/** Responsive Section **/

@media screen and (max-width: 1500px) {

  #hiring-and-early-access-section {
    /* Change to section to column view. */

    flex-direction: column;
  }

  #early-access-and-image {
    margin-top: 360px;
  }

  /* Move position of images */

  #flying-shoe {
    top: -638px;
    left: 170px;
    width: 80px;
    position: absolute;
  }

  #pencil-small {
    top: -658px;
    left: 285px;
    width: 70px;
    position: absolute;
  }

  #green-box {
    top: -640px;
    left: 398px;
    width: 60px;
    position: absolute;
  }

  #blue-ball {
    top: -603px;
    left: 455px;
    width: 90px;
    position: absolute;
  }

  #flying-febby {
    top: -580px;
    left: 130px;
    width: 430px;
    position: absolute;
  }
}

/** END HIRING SECTION **/