body, p {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

body {
  background: rgb(245, 244, 241);
}

a {
  background: rgba(0, 0, 0, 0);
}

.button {
  display: block;
  padding: 4px 12px;

  text-decoration: none;

  color:black;
  background: white;

  border-radius: 8px;
}

/** || NAVBAR START **/

/* General */

.navbar {
  display: block;
  padding: 20px 0px;

  width: 100%;
  height: auto;

  background: rgba(245, 244, 241,.25);
}

#navbar-container {
  padding: 0% 10%;
}

@media screen and (max-width: 500px) {
  #navbar-container {
    padding: 0% 4%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 3;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

#logo {
  margin-top: 4px;
}

.button.navbar-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);

  margin-left: 24px;
}

.button.navbar-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.brand-team-avatars {
  display: inline-block;
}

/* Avatars */

.teammate-avatar {
  position: relative;
  display: inline-block;

  height: 28px;
  width: 28px;
}

.teammate-avatar img, .teammate-avatar #you {
  display: inherit;
  vertical-align: middle;

  width: inherit;
  height: inherit;
}

.teammate-avatar #you {
  text-align: center;

  border-radius: 50px;

  color: white;
  background: rgb(153, 92, 191);
}

#you div {
  /* This centers the number in the last minified avatar. It selects the text there. */
  margin: 5px;
}

.teammate-avatar:not(:last-child) {
  /* This makes avatars be on top of each other.

  Using a positive value for the margin and selecting the first-child element doesn't let them sit on top of each other.
  */
  margin-right: -8px;
}

/* Hidden boxes */

.hidden {
  display: none;
}

.teammate-avatar:hover > .hidden {
  display: block;
  position: fixed;
}

.teammate-details {
  position: absolute;

  margin-top: 5px;
  margin-left: -70px;

  width: 176px;
  height: 196px;
  border-radius: 15px;

  background: rgba(30,31,37,.9);
}

img.expanded-avatar, #you + .teammate-details .expanded-avatar {
  margin: 24px 0px 10px 47px;

  width: 80px;
  height: 80px;
}

#you + .teammate-details > div {
  display: inline-block;

  text-align: center;

  border-radius: 40px;

  color: rgb(255, 255, 255);
  background: rgb(153, 92, 191);
}

#hand-emoji {
  margin-top: 18px;

  font-size: 32px;
}

.name, .secondary-text {
  margin: 2.5px 5px;
  text-align: center;
}

.name {
  color: rgb(255, 255, 255);
}

.secondary-text {
  color: rgba(255, 255, 255, .5);
}


/** NAVBAR END **/

.shake {
    animation-name: shake;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
  
/* Shake a image */
@keyframes shake {
    50%{
        transform: translate(0px, -2px);
    }
    1000% {
        transform: translate(0px, 2px);
    }
}
